        body {
            font-display: block;
            margin: 0;
            font-family: "Segoe UI", Tahoma, sans-serif;
            background-color: #f4f6fb;
        }

        .container {
            display: flex;
            min-height: 100vh;
        }

        /* LEFT PROFILE */
        .profile {
            width: 260px;
            background-color: #061baa;
            padding: 25px 20px;
            text-align: center;
            text-decoration: rgb(230, 234, 238);
            box-shadow: 2px 0 12px rgba(0,0,0,0.1);
        }

        .profile img {
           width: 200px;
           height: 200px;
           border-radius: 14px;
           object-fit: cover;
           margin-bottom: 15px;
           border: 3px solid #ffffff;        
           box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }


        .profile h2 {
            margin: 8px 0 5px;
        }

        .profile p {
            font-size: 14px;
            color: #555;
            margin-bottom: 15px;
        }

        .info {
            text-align: left;
            font-size: 14px;
        }

        .info div {
            margin: 10px 0;
        }
        .pro{
            color: #141313;
        }
        .content {
            flex: 1;
            padding: 40px;
        }

        h1 {
            font-size: 32px;
            margin-bottom: 10px;
        }

        h2 {
            margin-top: 35px;
            color: #333;
        }

        .skills span {
            display: inline-block;
            background: #061baa;
            color: white;
            padding: 6px 14px;
            border-radius: 20px;
            margin: 5px;
            font-size: 13px;
        }

        .projects {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .card {
            background: white;
            padding: 20px;
            width: 240px;
            border-radius: 12px;
            box-shadow: 0 6px 15px rgba(0,0,0,0.08);
        }

        .card h3 {
            margin-top: 0;
        }

        /* RESPONSIVE */
        @media (max-width: 768px) {
            .container {
                flex-direction: column;
            }

            .profile {
                width: 100%;
            }
        }
        .card {
            background: white;
            padding: 20px;
            width: 240px;
            border-radius: 12px;
            box-shadow: 0 6px 15px rgba(0,0,0,0.08);
            cursor: pointer;
            transition: 
            transform 0.3s ease,
            box-shadow 0.3s ease;
        }
        .spark{
            cursor: pointer;
            transition: 
            transform 0.3s ease,
            box-shadow 0.3s ease;
        }
        .spark:hover {
            transform: translateY(-10px) scale(1.03);
            box-shadow: 0 15px 30px rgba(0,0,0,0.15);
        }
.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.card:active {
    transform: scale(0.98);
}
