* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

header {
  background: #020617;
  padding: 15px 50px;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav ul li a:hover {
  color: cyan;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home span {
  color: cyan;
}

.btn {
  margin-top: 20px;
  padding: 10px 25px;
  background: cyan;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

section {
  padding: 80px 15%;
}

.skill-box .bar {
  height: 10px;
  background: #334155;
  border-radius: 5px;
  margin-bottom: 15px;
}

.bar span {
  display: block;
  height: 100%;
  background: cyan;
  border-radius: 5px;
}

.html { width: 90%; }
.css { width: 80%; }
.js { width: 70%; }

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #020617;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px cyan;
}

form {
  max-width: 400px;
}

form input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.profile-img img {
  width: 280px;
  height: auto;
  align-items: end;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  position: relative;
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
}

/* Profile Image Top Right */
.profile-img {
  position: absolute;
  top: 200px;
  right:300px;
}

.profile-img img {
  width: 200px;
  height: 220px;
  border: 3px solid #00f2ff;
}
.profile-img img:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
